<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   feed_resources.plist
   RssReader

   Created by Vlad Namashko on 5/16/19.
   Copyright (c) 2019 Vlad Namashko. All rights reserved.
-->
<plist version="1.0">
    <dict>
        
        <key>FeedResources</key>
        <dict>
            <key>news</key>
            <string>http://www.espn.com/espn/rss/news</string>
            <key>nfl</key>
            <string>http://www.espn.com/espn/rss/nfl/news</string>
            <key>nba</key>
            <string>http://www.espn.com/espn/rss/nba/news</string>
            <key>mlb</key>
            <string>http://www.espn.com/espn/rss/mlb/news</string>
            <key>nhl</key>
            <string>http://www.espn.com/espn/rss/nhl/news</string>
            <key>rpm</key>
            <string>http://www.espn.com/espn/rss/rpm/news</string>
            <key>soccer</key>
            <string>http://www.espn.com/espn/rss/soccer/news</string>
            <key>espnu</key>
            <string>http://www.espn.com/espn/rss/espnu/news</string>
            <key>ncb</key>
            <string>http://www.espn.com/espn/rss/ncb/news</string>
<!--            <string>http://www.espn.com/espn/rss/action/news</string>            -->
        </dict>

    </dict>
</plist>
